### Exports
export(expvar)
export(expsize)
export(optsize)
export(dom_optimal_allocation)
export(prop_dom_optimal_allocation)
export(min_count)
export(min_prop)
export(MoE_P)
export(MoE_Y)
export(round2)
export(s2)

import(data.table)
import(laeken)
import(stats)
